<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title>TSP</title>
    <script src="jquery/jquery.min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="frameworks/angular.min.js"></script>
    <script src="main.js"></script>
    <script src="page.js"></script>
    <link href="style.css" rel="stylesheet">
</head>
<body ng-app="forms" ng-controller="dataController">
	<div id="results" ng-show="showRes===1">
		<div>
			<table class="table">
				<tbody>
				<tr>
					<th colspan="2">Wyniki</th>
				</tr>
				<tr>
					<td>Ilość punktów:</td>
					<td>{{results.count}}</td>
				</tr>
				<tr>
					<td>Ilość kombinacji:</td>
					<td>{{results.ways}}</td>
				</tr>
				<tr>
					<td>Czas obliczeń:</td>
					<td>{{results.time}} ms.</td>
				</tr>
				<tr>
					<td>Długość optymalnej trasy:</td>
					<td>{{results.way}}</td>
				</tr>
				</tbody>
			</table>
			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Optymalna ścieżka:</th>
					</tr>
					<tr ng-repeat="res in results.results"><td class="center">{{res.pairs}}</td></tr>
				</tbody>
			</table>
			<div class="form-group">
				<button class="form-control" ng-click="showRes=0">Zamknij</button>
			</div>
		</div>
	</div>

    <div id="data">
	    <ul role="tablist" class="nav nav-tabs nav-justified">
		    <li ng-class="{active: $first}" role="presentation" ng-repeat="type in types"><a ng-click="select($index)">{{type.name}}</a></li>
	    </ul>

        <div ng-show="inps.type.s == 0" ng-controller="manualPlaces">
            <form class="form-inline" role="form">
	            <div class="bs-callout bs-callout-info">
		            <h3>Pomoc</h3>
		            Podaj liczbę współrzędnych a następnie kliknij "Dodaj współrzędne" aby stworzyć listę modyfikowalną listę współrzędnych kartezjańskich. Możesz również wprowadzić dane w postaci pliku lub je wkleić (zobacz w pomocy format jaki muszą posiadać dane)
	            </div>

	            <div class="form-group full-width">
		            <div class="input-group">
			            <button class="btn btn-primary" ng-click="calculate()"><span class="glyphicon glyphicon-play"></span>Oblicz</button>
		            </div>
		            <div class="input-group space"></div>
		            <div class="input-group">
			            <input type="text" class="form-control" ng-model="count">
			            <div class="input-group-btn">
				            <button tabindex="-1" class="btn btn-success" type="button" ng-click="add()">Dodaj współrzędne</button>
			            </div>
		            </div>
		            <div class="input-group">
			            <button class="btn btn-warning" type="button" ng-click="reset()"><span class="glyphicon glyphicon-repeat"></span> Reset</button>
		            </div>
	            </div>

	            <hr>

	            <div class="well import" ng-show="points.length===0">
		            <table>
			            <colgroup>
				            <col style="width: 40%">
				            <col style="width: 5%">
				            <col style="width: 55%">
			            </colgroup>
			            <tr>
				            <td>Wprowadz dane z pliku:</td>
				            <td></td>
				            <td>
					            <div class="input-group">
						            <input type="file" class="btn" onchange="angular.element(this).scope().upload(this)">
					            </div>
			                </td>
			            </tr>
			            <tr>
				            <td colspan="2"></td>
			            </tr>
			            <tr>
				            <td> lub schowka systemowego:</td>
				            <td></td>
				            <td>
					            <div class="input-group">
						            <input type="text" class="form-control" ng-model="clipboard" ng-change="readMem()" placeholder="wklej dane">
					            </div>
				            </td>
			            </tr>
		            </table>
	            </div>

	            <div class="dataBox">
		            <table class="table">
			            <tbody>
			            <tr ng-show="points.length>0">
				            <th>Nr.</th><th>X</th><th>Y</th><th></th>
			            </tr>
			            <tr ng-repeat="point in points">
				            <td class="tab_index">
					            C{{$index}}.
				            </td>
				            <td>
					            <input type="text" ng-model="point.0">
				            </td>
				            <td>
					            <input type="text" ng-model="point.1">
				            </td>
				            <td>
					            <div class="input-group">
						            <button class="btn btn-danger btn-xs" ng-click="delete($index)"><span class="glyphicon glyphicon-remove"></span></button>
					            </div>
				            </td>
			            </tr>
			            </tbody>
		            </table>
	            </div>
            </form>
        </div>
        <div ng-show="inps.type.s == 1" ng-controller="manualMatrix">
	        <form class="form-inline" role="form">
				<div class="bs-callout bs-callout-info">
					<h3>Pomoc</h3>
					Podaj liczbę stopni macierzy a następnie kliknij "Dodaj stopień" aby utworzyć modyfikowalną macierz podanego stopnia. Możesz również wprowadzić dane w postaci pliku lub je wkleić (zobacz w pomocy format jaki muszą posiadać dane)
				</div>

				<div class="form-group full-width">
					<div class="input-group">
						<button class="btn btn-primary " ng-click="calculate()"><span class="glyphicon glyphicon-play"></span>Oblicz</button>
					</div>
					<div class="input-group space"></div>
					<div class="input-group">
						<input type="text" class="form-control" ng-model="count">
						<div class="input-group-btn">
							<button tabindex="-1" class="btn btn-success" type="button" ng-click="add()">Dodaj stopień</button>
							<button tabindex="-1" class="btn btn-danger" type="button" ng-click="delete()">Usuń</button>
						</div>
					</div>
					<div class="input-group">
						<button class="btn btn-warning" type="button" ng-click="reset()"><span class="glyphicon glyphicon-repeat"></span> Reset</button>
					</div>
		        </div>

		        <hr>

		        <div class="well import" ng-show="points.length===0">
			        <table>
				        <colgroup>
					        <col style="width: 40%">
					        <col style="width: 5%">
					        <col style="width: 55%">
				        </colgroup>
				        <tr>
					        <td>Wprowadz dane z pliku:</td>
					        <td></td>
					        <td>
						        <div class="input-group">
							        <input type="file" class="btn" onchange="angular.element(this).scope().upload(this)">
						        </div>
					        </td>
				        </tr>
				        <tr>
					        <td colspan="2"></td>
				        </tr>
				        <tr>
					        <td> lub schowka systemowego:</td>
					        <td></td>
					        <td>
						        <div class="input-group">
							        <input type="text" class="form-control" ng-model="clipboard" ng-change="readMem()" placeholder="wklej dane">
						        </div>
					        </td>
				        </tr>
			        </table>
		        </div>

		        <div class="dataBox">
			        <table class="table-bordered">
				        <tbody>
				        <tr>
					        <td class="tab_index" ng-show="points.length>0">Nr.</td>
					        <td class="tab_index" ng-repeat="row in points">C{{$index}}.</td>
				        </tr>
				        <tr ng-repeat="row in points">
					        <td class="tab_index">C{{$index}}.</td>
					        <td ng-repeat="col in points">
						        <input type="text" placeholder="{{$parent.$index}} x {{$index}}" ng-disabled="$parent.$index == $index" ng-model="points[$parent.$index][$index]">
					        </td>
				        </tr>
				        </tbody>
			        </table>
		        </div>
            </form>
        </div>
	    <div ng-show="inps.type.s == 2" class="info">
		    </br>
		    <h3>Wybór typu danych</h3>
		    <p>Wybierz jeden z możliwych typów wprowadzania danych klikając na odpowiednią zakładkę (zakładki znajdują się powyżej /\).</p>
		    <ul>
			    <li>Macierz odległości - najbardziej uniwersalny sposób wprowadzania danych. W macierz kwadratową wprowadza się odległości między punktami.</li>
			    <li>Współrzędne kartezjańskie - w tym wariancie podaje się współrzędne X i Y punktów np. jak w przypadku mapy </li>
		    </ul>
		    </br>
		    <h3>Typy danych wejściowych</h3>
		    <p>Aplikacja dopuszcza kilka metod wprowadzania danych. Można je wprowadzać bezpośrednio z poziomu aplikacji, importować z pliku bądź wklejać.</p>
		    </br>
		    <h3>Wprowadzanie ręczne</h3>
		    <p>Aby wprowadzić dane ręcznie podaj w polu wejściowym (znajduje się obok zielonego przycisku dodaj) stopień macierz bądź liczbę punktów w zależności o typu wprowadzanych danych (patrz <b>Wybór typu danych</b>).</p>
		    </br>
		    <h3>Import z pliku</h3>
			<p>Plik może mieć dowolne rozszerzenie ważna jest jego struktura wewnętrzna. Każdy wiersz musi zaczynać się od nowej linii, natomiast separatorem kolumny może być dowolny znak nie będący cyfrą, literą, znakiem podkreślenia(_), przecinkiem lub kropką.</p>
		    <p>Przykładowa macierz:</p>
		    <pre style="width: 500px;">
			    NaN 12 23.34
			    0   NAN 234
			    21,2 423 nan
		    </pre>
		    <p>Jest to przykład prawidłowo sformatowanej macierzy 3x3 (kropka i przecinek mogą być stosowane zamiennie), trzeba pamiętać iż odległości znajdujące się na przekątnej (NaN) nie mają znaczenia z definicji problemu.</p>
		    </br>
		    <h3>Wklejanie</h3>
		    <p>Format danych musi być jednakowy jak w przypadku importu z pliku. Można natomiast kopiować dane bezpośrednio z arkuszy kalkulacyjnych czy tabeli internetowych.</p><p><b>Kopiowanie z tabeli plików tekstowych takich jak MS Word czy OO Writer najprawdopodobniej nie zadziała!</b></p>
	        <h3>Wynik</h3>
		    <p>Wynikiem obliczeń jest <b>Optymalna ścieżka</b> będący cyklem Hamiltona co oznacza, że z ostatniego punktu wracamy do pierwszego z podanych zataczając pętle. Należy zwrócić uwagę, że punkty numerowane są od 0.</p>
	    </div>
    </div>
	<div id="footer">
		<span>Autor <a href="mailto:wszerad91@gmail.com" target="_top">W. Martynowski</a> dla Politechniki Krakowskiej</span>
	</div>
</body>
</html>